{% load static %}

<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-4">
        <a class="navbar-brand" href="{% url 'home'%}"><img src="{% static './assets/Stockx_logo.png' %}" alt="" style='height: 50px'></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'home'%}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'about'%}">About</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categories</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'home' %}">All Products</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'Sneakers' %}">Sneaker</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'Shoes' %}">Shoes</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'Apparel' %}">Apparel</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'Accessories' %}">Accessories</a></li>
                    </ul>
                </li>
                <form method="POST" action="{% url 'search' %}" class="form-inline my-2 my-lg-0 d-flex">
                    {% csrf_token %}
                    <input class="form-control mr-sm-2 ms-4" style='width: 300px;' type="search" placeholder="Search" aria-label="Search" name="searched">
                </form>
            </ul>
            <form class="d-flex">
                <a href="{% url 'cart'%}" class="btn btn-outline-success me-2">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-success text-white ms-1 rounded-pill" id="cart_quantity">{{cart|length}}</span>
                </a>
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown d-flex" style="list-style-type: none;">
                        <a class="nav-link" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><img src="https://0.gravatar.com/avatar/63f4ea93d7e1b66c6ab06b9501ca7f42?s=500&d=mm&r=g" alt="" style="height: 40px;border-radius: 50px; margin-right: 5px" >{{user.username}}</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item option" href="{% url 'update_profile'%}">Profile</a></li>
                            <li><a class="dropdown-item option" href="{% url 'update_info' %}">Info</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a href="{% url 'logout'%}" class="dropdown-item logout">Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <a href="{% url 'login'%}" class="btn btn-outline-success me-2 ms-2 px-3">Login</a>
                    <a href="{% url 'register'%}" class="btn btn-outline-success me-2 ms-2 px-3">Register</a>
                {% endif %}
            </form>
        </div>
    </div>
</nav>
